@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap);.bg-xblue {
  background-color: #3594fa;
}

.spinner {
  -webkit-animation: spinner 0.75s ease-in-out infinite;
          animation: spinner 0.75s ease-in-out infinite;
}

@-webkit-keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

html {
  font-size: 17px;
  letter-spacing: 1.5px;
  font-family: Nunito, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

html .Navbar .Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0006;
  z-index: 11;
}

html .Navbar .Sidebar .Menu {
  color: #3594fa;
  width: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: white;
}

html .Navbar .Sidebar .Menu .filters .filter {
  transition: all 0.4s;
}

html .HomePage .ItemCard {
  position: relative;
  max-width: 480px;
}

html .HomePage .ItemCard .status {
  padding: 2px 2px 2px 0;
  color: white;
  position: absolute;
  top: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 10px;
  z-index: 1;
  display: block;
}

html .HomePage .ItemCard .status.funded {
  background-color: #f4b233;
}

html .HomePage .ItemCard .status.waitlist {
  background-color: #00da89;
}

html .HomePage .ItemCard .status span {
  border: 1px dashed white;
  border-radius: 5px;
  padding: 2px 5px;
  display: block;
  text-transform: uppercase;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

html .HomePage .ItemCard .item-image {
  position: relative;
  overflow: hidden;
}

html .HomePage .ItemCard .item-image .item-image-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  position: absolute;
  z-index: -1;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

html .HomePage .ItemCard .info {
  letter-spacing: normal;
  width: 206px;
  flex-shrink: 0;
}

html .HomePage .ItemCard .info svg {
  color: #3594fa;
}

html .HomePage .ItemCard .info .price-and-size .cost-text {
  font-size: 9px;
  color: #637384;
  line-height: 0;
  padding-bottom: 9px;
}

html .HomePage .ItemCard .info .price-and-size .price,
html .HomePage .ItemCard .info .price-and-size .size {
  flex: 1 0 auto;
}

html .HomePage .ItemCard .info .price-and-size .size {
  color: #637384;
}

html .HomePage .ItemCard .info .price-and-size .size-text {
  line-height: 0;
  padding-bottom: 9px;
  font-size: 9px;
  color: #637384;
}

html .HomePage .ItemCard .info .name-and-address .address {
  color: #637384;
  font-size: 10px;
}

html .HomePage .ItemCard .info .fund-investor-days {
  background-color: #E4EEF9;
}

html .HomePage .ItemCard .info .fund-investor-days div {
  flex: 1 0 auto;
}

html .HomePage .ItemCard .info .fund-investor-days div .stats {
  color: #3594fa;
  font-weight: 700;
  font-size: 14px;
}

html .HomePage .ItemCard .info .fund-investor-days div .stats-text {
  line-height: 0;
  padding-bottom: 8px;
  color: #637384;
  display: block;
  font-size: 9px;
}

html .HomePage .ItemCard .yield-target-investment {
  color: white;
  background-color: #3594fa;
}

html .HomePage .ItemCard .yield-target-investment .extra {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}

html .HomePage .ItemCard .yield-target-investment .extra .extra-content {
  font-size: 14px;
  flex-grow: 1;
  padding: 0.5rem;
}

html .HomePage .ItemCard .yield-target-investment .extra .extra-content .extra-text {
  font-size: 12px;
  font-weight: bold;
}

html .Footer {
  z-index: 5;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3594fa;
}

html .Footer .FooterIcon {
  flex: 1 0 auto;
}

html .Footer .FooterIcon:not(:first-child) {
  border-left: 1px solid #fff3;
}

html .Footer .FooterIcon.active, html .Footer .FooterIcon:hover {
  background-color: #00da89;
}

html .Footer .FooterIcon svg {
  font-size: 24px;
}

html .Footer .FooterIcon span {
  font-size: 14px;
}

@media only screen and (max-width: 480px) {
  html .Footer .FooterIcon svg {
    font-size: 20px;
  }

  html .Footer .FooterIcon span {
    font-size: 12px;
  }
}

@media only screen and (max-width: 540px) {
  html {
    letter-spacing: 0;
  }

  html .HomePage .ItemCard {
    margin: 0;
    margin-bottom: 1rem;
  }

  html .HomePage .ItemCard .info {
    width: 150px;
  }

  html .HomePage .ItemCard .info .price-and-size .cost-text,
html .HomePage .ItemCard .info .price-and-size .size-text {
    font-size: 8px;
  }

  html .HomePage .ItemCard .info .name-and-address .name {
    font-size: 11px;
  }

  html .HomePage .ItemCard .info .name-and-address .address {
    font-size: 9px;
    line-height: 10px;
  }

  html .HomePage .ItemCard .info .fund-investor-days div .stats {
    font-size: 12px;
  }

  html .HomePage .ItemCard .info .fund-investor-days div .stats .stats-text {
    font-size: 8px;
  }

  html .HomePage .ItemCard .yield-target-investment .extra .extra-content {
    font-size: 12px;
    padding-right: 0;
  }

  html .HomePage .ItemCard .yield-target-investment .extra .extra-content .extra-text {
    font-size: 9px;
  }
}